/* variables */
:root {
	--clr-brand-primary: #128688;
	--clr-brand-secondary: #f8cf07;
	--clr-brand-secondary-light: #fdf3c3;
	--clr-bg-primary: #0f6161;
	--clr-font-primary: #fdfdfd;
	--clr-dark: #000;

	--margin-50: 0.5rem;
	--margin-100: 1rem;
	--margin-200: 2rem;
	--margin-300: 3rem;
	--margin-700: 7rem;

	--padding-100: 1em;
	--padding-200: 2em;
	--padding-300: 3em;

	--gap-100: 1rem;
	--gap-200: 2rem;
	--gap-400: 4rem;

	--radius: 0.25rem;

	--fs-title-medium: 2.25rem;
	--fs-title-small: 1.75rem;

	--fs-content-large: 1.25rem;
	--fs-content-medium: 1.125rem;
	--fs-content-small: 0.875rem;

	--fw-normal: 500;
	--fw-bold: 700;
	--fw-light: 300;
}

/* general styles */
html {
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	font-weight: var(--fw-normal);
	font-size: var(--fs-content-medium);
	margin: 0;
	color: var(--clr-font-primary);
	line-height: 1.5;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	display: block;
}

a.nav-link,
footer a {
	text-decoration: none;
	color: inherit;
}

section,
footer {
	max-width: 1200px;
}

button {
	appearance: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

button {
	display: block;
	padding: 0.75em 1.75em;
	font-weight: var(--fw-bold);
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: var(--fs-content-medium);
	border-radius: var(--radius);
	transition: ease-in-out 250ms;
}

section {
	padding: var(--padding-300) var(--padding-100);
	margin-inline: auto;
}

.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

/* header - navigation*/
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--clr-bg-primary);
	padding: var(--padding-100);
}

.nav-list {
	display: flex;
	gap: var(--gap-200);
}

.nav-link {
	font-weight: var(--fw-bold);
	font-size: var(--fs-title-small);
	padding: 0.5em;
}

.nav-link:hover {
	color: var(--clr-brand-secondary);
}

.nav-link:focus {
	outline: 2px solid var(--clr-brand-secondary);
	border-radius: 2px;
}

/* hero-container */
header {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.hero-container {
	background-color: var(--clr-bg-primary);
	background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
		url(media/images/hero-image.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	margin-bottom: 0;
}

.subtitle {
	color: var(--clr-brand-secondary);
	font-weight: var(--fw-bold);
	letter-spacing: 1px;
	margin-bottom: var(--margin-300);
}

.button-cta {
	color: var(--clr-bg-primary);
	border-color: var(--clr-bg-primary);
	background-color: var(--clr-brand-secondary);
}

.button-cta:hover {
	color: var(--clr-font-primary);
	border-color: var(--clr-font-primary);
}

/* projects section */
.section-light-bg {
	background-color: var(--clr-font-primary);
}

section.projects h2 {
	color: var(--clr-dark);
}

.project-cards {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-200);
	padding: var(--padding-100);
	margin-bottom: var(--margin-300);
}

.project-card {
	flex-basis: 350px;
	border-radius: var(--radius);
	padding: var(--padding-100);
	background-color: var(--clr-dark);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.55);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--gap-200);
}

.button-section {
	color: var(--clr-dark);
	border-color: var(--clr-dark);
	background-color: var(--clr-font-primary);
	margin-left: auto;
}

.button-section:hover {
	color: var(--clr-font-primary);
	border-color: var(--clr-dark);
	background-color: var(--clr-dark);
}

/* services */
.section-dark-bg {
	background-color: var(--clr-bg-primary);
}

.service-cards {
	display: flex;
	flex-direction: column;
	gap: var(--gap-200);
	padding: var(--padding-100);
	margin-bottom: var(--margin-300);
}

.service-card {
	max-width: 350px;
	padding: var(--padding-200);
	border-radius: var(--radius);
	border: 1px solid white;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-one {
	background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.3)),
		url(media/images/printer-with-sd-cards.jpg);
}

.service-two {
	background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
		url(media/images/3d-printer.jpg);
}

.service-three {
	background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
		url(media/images/3d-artefacts.jpg);
}

/* contact */
.contact {
	color: var(--clr-dark);
}

ul:has(.order-list-item) {
	margin-left: var(--margin-50);
}

.order-list-item {
	margin-bottom: var(--margin-100);
}

.order-list-item::before {
	content: '📌';
	margin-right: var(--margin-50);
}

/* footer */
footer {
	background-color: var(--clr-dark);
	display: flex;
	flex-direction: column;
	padding: var(--padding-100);
	color: var(--clr-font-primary);
	font-size: var(--fs-content-small);
}

.footer-top {
	display: flex;
	justify-content: space-between;
	gap: var(--gap-400);
	margin-bottom: var(--margin-300);
}

.footer-logo {
	object-fit: contain;
	flex-basis: 100px;
}

.contact-options {
	flex: 1;
}

address {
	display: flex;
	gap: var(--gap-100);
	flex-direction: column;
	align-items: flex-start;
	font-style: normal;

	margin-bottom: var(--margin-100);
}

.social-links {
	display: flex;
	gap: var(--gap-200);
	justify-content: flex-start;
}

.social-links img {
	width: 25px;
}

.footer-bottom {
	display: flex;
	justify-content: center;
	gap: var(--gap-200);
}
